/* Reset and Common Styles */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  /* animation-delay: 500ms; */
  animation: fadeInLeft 300ms ease-in-out;
}

:root {
  --primary-color: #16161a;
  --secondary-color: #72757e;
  --button-color: #7f5af0;
  --dark-color: #050100;
  --paragraph-color: #94a1b2;
  --button-text-color: #fffffe;
  --tertiary-color: #2cb67d;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-heading {
  font-size: 5rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  display: block;
  margin-bottom: 5rem;
}

.heading:hover:before {
  top: 8px;
  left: 8px;
}

.heading:hover:after {
  top: -8px;
  left: -8px;
}

/* End of Reset and Common Styles */

/* Section 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  flex-direction: column;

  background-image: linear-gradient(
      to right bottom,
      rgba(127, 90, 240, 0.25),
      rgba(5, 1, 0, 0.75)
    ),
    url('/public/images/bg-dance.jpeg');
  background-size: cover;
  background-position: center;

  /* background: url(/public/images/bg-outside.jpeg) no-repeat center fixed;

  background-size: cover; */

  /* background-color: var(--primary-color); */
}

.section-1-heading {
  color: #fff;
  padding: 3rem 3rem;
  margin-bottom: 4rem;
  text-overflow: clip;
  /* border: 1px solid var(--button-color); */
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1rem;
  font-size: 6.4rem;
  font-weight: 700;
  z-index: 1;
}

.section-1-btn {
  font-size: 3.2rem;
  color: var(--button-text-color);
  padding: 1.5rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.button-link {
  color: var(--button-text-color);
  margin: 0 3rem;
  position: relative;
  transition: color 0.2s;
}

.button-link:hover {
  color: #fff;
  font-weight: 700;
}

.button-link::before {
  content: '';
  width: 0;
  height: 0.2rem;
  background-color: var(--button-color);
  position: absolute;
  right: -15%;
  bottom: -0.3rem;
  transition: width 0.2s;
}

.button-link:hover::before {
  width: 130%;
}

/* End of Section 1 */

/* Navbar */
.navbar {
  width: 100%;
  height: 4.5rem;
  background-color: var(--dark-color);
  position: absolute;
  z-index: 300;
  border-bottom: 1px solid var(--button-color);
}

.sticky {
  position: fixed;
  top: 0;
}

.navbar-link {
  font-size: 2rem;
  color: var(--button-text-color);
  margin: 0 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  position: relative;
  transition: color 0.2s;
}

.change.navbar-link {
  color: #fff;
}

.navbar-link:hover {
  color: #fff;
}

.navbar-link::before {
  content: '';
  width: 0;
  height: 0.2rem;
  background-color: #fff;
  position: absolute;
  right: -15%;
  bottom: -0.3rem;
  transition: width 0.2s;
}

.change.navbar-link::before {
  width: 130%;
}

.navbar-link:hover::before {
  width: 130%;
}
/* End of Navbar */

/* About section */
.about-section {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(5, 1, 0, 0.25),
      rgba(5, 1, 0, 0.75)
    ),
    url('/public/images/bg-outside.jpeg');
  color: #fff;
}

.about-main {
  z-index: 1;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text {
  max-width: 600px;

  padding: 2rem 2rem;

  /* box-shadow: 5px 5px 100px var(--button-color); */

  transition: all 0.3s ease-in;
}

.about-text:hover {
  box-shadow: 5px 5px 2px 1px var(--button-color);
  background-color: var(--primary-color);
  transform: scale(1.05);
  font-weight: 600;
  color: var(--button-text-color);
}

.about-text h1 {
  font-size: 6.4rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 2.4rem;
  text-align: center;
  letter-spacing: 2px;
}

.about-text h2 {
  font-size: 3.2rem;
  text-transform: capitalize;
  margin-bottom: 2.4rem;
  letter-spacing: -0.75px;
  font-weight: 600;
  line-height: 1.1;
}

.about-text p {
  line-height: 1.6;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.about-img {
  width: 480px;
  height: 600px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin: 3.2rem 3.2rem 3.2rem 3.2rem;
}

.about-img:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 2px 1px var(--button-color);
}

.about-text button {
  background-color: var(--button-color);
  color: var(--button-text-color);
  font-size: 1.8rem;
  font-family: inherit;
  border: 0rem solid var(--dark-color);
  padding: 10px 20px;
  border-radius: 30px;
  transition: 0.4s;
}

.about-text button:hover {
  background: var(--button-color);
  border-radius: 1px solid var(--primary-color);
  cursor: pointer;
}

/* End of About */

/* hopestems */
.hope-body {
  display: flex;
  background-color: #7f5af0;
}

.hope-container {
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  padding: 2.4rem;
}

.hope-header {
  font-size: 6.4rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 2.4rem;
  text-align: center;
  letter-spacing: 2px;
}

.hope-text {
  font-size: 2.4rem;
  line-height: 1.6;
}

.hope-img {
  height: 540px;
  width: 960px;
}

/* End of hopestems */

/* Footer */
.footer-contact {
  display: grid;
  height: 100%;
  width: 100%;
  padding: 1rem 1rem;
  font-size: 2rem;
  place-items: center;
  background: url(/public/images/bg-dance.jpeg);
  border-top: 1px solid var(--button-color);
  background-color: var(--dark-color);
}

.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover {
  width: 200px;
}
.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon {
  background: #5865f2;
}
.wrapper .button:nth-child(2):hover .icon {
  background: #e1306c;
}
.wrapper .button:nth-child(3):hover .icon {
  background: #0e76a8;
}
.wrapper .button:nth-child(4):hover .icon {
  background: #ff0000;
}
.wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}
.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
  color: #fff;
}
.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span {
  color: #5865f2;
}
.wrapper .button:nth-child(2) span {
  color: #e1306c;
}
.wrapper .button:nth-child(3) span {
  color: #0e76a8;
}
.wrapper .button:nth-child(4) span {
  color: #ff0000;
}
.wrapper .button:nth-child(5) span {
  color: #ff0000;
}

.copyright {
  border-top: 1px solid var(--button-color);
  font-size: 1.6rem;
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.copyright p {
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.copyright a:link,
.copyright a:visited {
  font-size: 1.6rem;
  color: white;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.copyright a:hover {
  background-color: white;
  color: var(--dark-color);
  transform: scale(1.01);
  box-shadow: 0px 0px 5px #fff;
}

/* End of Footer */

/* Responsive */
@media (max-width: 1200px) {
  .services {
    height: auto;
    flex-wrap: wrap;
  }

  .service {
    margin: 3rem 2rem;
  }
}

@media (max-width: 1000px) {
  .about-img {
    height: 500px;
    width: 500px;
  }

  .about-img {
    display: none;
  }
}

@media (max-width: 800px) {
  .section-1-heading {
    font-size: 4rem;
  }

  .about-img {
    display: none;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 6rem;
  }

  .navbar-link {
    margin: 0 2rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 45%;
  }

  .heading {
    font-size: 2.5rem;
  }

  .navbar-link {
    margin: 0 1.5rem;
  }

  .section-2-heading {
    text-align: center;
  }
}

/* End of Responsive */

/* Animations  */
@keyframes cursorAnim2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
